<section id="projects">
  <h3>PROJECTS</h3>
  <div id="project-main-menu">
    <!-- Menu Slide -->
    <div>
      <div>
        <!-- Left Trapezoid -->
        <div id="left-trapezoid" (click)="onListItemClick('0')">
          <app-project-menu index="0" [onListItemClick]="onListItemClick" [projectSubject]="projectSubjects[0]"></app-project-menu>
        </div>
        <div id="divider"></div>
        <!-- Right Trapezoid -->
        <div id="right-trapezoid" (click)="onListItemClick('1')">
          <app-project-menu index="1" [onListItemClick]="onListItemClick" [projectSubject]="projectSubjects[1]"></app-project-menu>
        </div>
      </div>
      <!-- Bottom Reactangle -->
      <div id="bottom-rectangle" (click)="onListItemClick('2')">
        <app-project-menu index="2" [onListItemClick]="onListItemClick" [projectSubject]="projectSubjects[2]"></app-project-menu>
      </div>
    </div>
    <!-- Sub-menu Slide -->
    <app-selected-subscreen [(selectedItemID)]="selectedItemID" *ngIf="selectedItemID.length > 0" [onCloseSubScreen]="onCloseSubScreen"></app-selected-subscreen>    
  </div>
  <div id="employers-logo-links">
    <h4>EMPLOYERS</h4>
    <div>
      <a *ngFor="let employer of employersList" href="{{employer.employerLink}}">
        <img src="{{employer.logoURL}}" alt="{{employer.employerName}}"/>
      </a>
    </div>
  </div>
</section>
