$project-height: 600px;
$bottom-rectangle-height: 250px;
$project-divider-width: 15px;
$project-divider-color: white;
$url: url("https://www.thehindu.com/opinion/op-ed/article22695424.ece/ALTERNATES/FREE_460/9thscience");

#projects {
  box-shadow: 0 -2px 7px rgba(0,0,0,0.1), 0 -1px 5px rgba(0,0,0,0.2);

  h3 {
    background-color: rgba(123,179,168,1);
    color: rgba(255,255,255,0.9);
    text-align: center;
    padding: 20px;
    overflow-x: hidden; //no-sideway scroll.
  }

  #project-main-menu {
    position: relative;

    div {
      div {
        display: flex;
        position: relative;
        justify-content: space-between;
        #left-trapezoid {
          &:hover {
            background: /* top, transparent red, faked with gradient */ 
            linear-gradient(
              rgba(0, 0, 0, 0.45), 
              rgba(0, 0, 0, 0.45)
            ), $url;
          }
          display: inline-block;
          background: $url;
          width: 100%;
          height: $project-height;
          position: relative;
          h2 {
            font-size: 30px;
            margin-top: 30px;
          }
        }
        #divider {
          width: 54%;
          height: $project-height;
          position: absolute;
          background-color: $project-divider-color;
          z-index: 1;
          top: 0;
          right: $project-divider-width;
          // Clip clickable path
          -webkit-clip-path: polygon(0 0, 20% 600px, 100% 600px, 100% 0);
          clip-path: polygon(0 0, 20% 600px, 100% 600px, 100% 0);
        }
        #right-trapezoid {
          &:hover {
            background: /* top, transparent red, faked with gradient */ 
            linear-gradient(
              rgba(0, 0, 0, 0.45), 
              rgba(0, 0, 0, 0.45)
            ), $url;
          }
          width: 54%;
          height: $project-height;
          position: absolute;
          z-index: 2;
          top: 0;
          right: 0;
          background-image: $url;
          display: inline-block;
          // Clip clickable path
          -webkit-clip-path: polygon(0 0, 20% 600px, 100% 600px, 100% 0);
          clip-path: polygon(0 0, 20% 600px, 100% 600px, 100% 0);
          text-align: right;
          h2 {
            margin-bottom: 30px
          }
        }
      }
      
      #bottom-rectangle {
        &:hover {
          background: /* top, transparent red, faked with gradient */ 
            linear-gradient(
              rgba(0, 0, 0, 0.45), 
              rgba(0, 0, 0, 0.45)
            ), $url;
        }
        padding: 30px 0 30px 0;
        border-top: $project-divider-width solid $project-divider-color;
        background-image: $url;
        height: $bottom-rectangle-height;
  
        h2 {
          font-size: 30px;
          margin: 0 10px 10px 10px;
        }
      }
    }

    app-selected-subscreen {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 4;
      top: 0;
    }
  }
}