header {
    height: 600px;
	background: linear-gradient(rgba(87,34,34,0.6), rgba(131,70,70,1) 18%);
	background-color: rgba(131,70,70,1);

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 1.3em;
        color: rgba(255,255,255,0.9);
        letter-spacing: 0.03em;
		margin-bottom: 20px;
		padding-left: 20px;
		padding-top: 20px;
    }

    .emblem {
        width: 390px;
		height: 390px;
		display: block;
		margin: 60px auto;
		opacity: .38;
    }

    nav {
        float: right;
    
        ul {
            list-style-type: none;
            margin: 0; 
            padding: 0;

            li {
                float: left;

                a {
                    color: rgba(255,255,255,0.9);
                    padding: 1.5em;
                    font-size: .8em;

                    &:hover {
                        background: linear-gradient(rgba(87,34,34,0.6), rgba(87,34,34,0.6) 17%);
                    }
                }
            }
        }
    }
}