$subject-navigation-height: 280px;

#selected-subscreen {
  width: 100%;
  height: 100%;
  background-color: pink;
  
  #subject-navigation {
    height: $subject-navigation-height;
    background-color: rgba(0, 0, 0, 0.5)
  }

  #project-display {
    
  }
}