header {
  height: 600px;
  background-color: rgba(131,70,70,1);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .emblem {
    width: 390px;
    height: 390px;
    display: block;
    margin: 60px auto;
    opacity: .38;
  }
}